
  .people_card {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.107);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 3vh;
    margin: 1vh;
    padding-bottom: 0.2vh;
  
    &:hover {
      backdrop-filter: none;
      background-color: rgba(255, 255, 255, 0.05);
  
      .char_name {
        background-color: #8484846a;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      }
  
      .char_img {
        animation: lightsaber 1s linear infinite;
        border-radius: 5%;
        border-color: #fdfdfd8c;
        transform: scale(1.06);
      }
    }
  }

  .char_img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 10px;
    transition: all 0.3s;
    border: solid 3px #00000075;
  }
  

  .char_name {
    border-radius: 2vh;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 12px;
    font-weight: 800;
    margin-top: 10px;
    padding: 0.5vh;
    padding-right: 0.8vh;
    padding-left: 0.8vh;
    backdrop-filter: blur(8px);
    background-color: #0000006a;
  }
  