@keyframes lightsaber {
  0% {
    box-shadow: 0 0 20px #ffffffce;
  }

  50% {
    box-shadow: 0 0 20px #ffffffce;
  }

  100% {
    box-shadow: 0 0 20px #ffffffce;
  }
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3vh;
}

.centraldiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.people_container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

// Pagination

.custom-button {
  width: 60px;
  height: 6px;
  font-size: 70px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  border-color: rgba(255, 255, 255, 0);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.disabled {
  color: #ffffff10;
  cursor: default;
}


// "See all characters" feature

.btn-dark {
  padding: .375rem .75rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  border-width: 1px;
  background-color: #8a8a8a;
  border-radius: .5rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }
}

.seall_div {
  display: flex;
  justify-content: space-around;
}

.loading {
  color: white;
}